<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWMS_WCFService"/>
        <binding name="WebServiceSoap"/>
        <binding name="DSCERPWSServiceSoap"/>
        <binding name="USI_ASRS_getCompStock_getCompStock_WSD_Binder"/>
        <binding name="BasicHttpBinding_IWMS_WCFService1"/>
        <binding name="TIPTOPServiceGateWayBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:8734/WCFService_WMS/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWMS_WCFService" contract="ServiceReference1.IWMS_WCFService" name="BasicHttpBinding_IWMS_WCFService"/>
      <endpoint address="http://10.63.202.1:8808/WebService/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="ServiceReference2.WebServiceSoap" name="WebServiceSoap"/>
      <endpoint address="http://10.0.0.25/DSCERPWS/DSCERPWSService.asmx" binding="basicHttpBinding" bindingConfiguration="DSCERPWSServiceSoap" contract="ServiceReference1.DSCERPWSServiceSoap" name="DSCERPWSServiceSoap"/>
      <endpoint address="http://10.0.4.100:5555/ws/USI_ASRS.getCompStock:getCompStock_WSD/USI_ASRS_getCompStock_getCompStock_WSD_Port" binding="basicHttpBinding" bindingConfiguration="USI_ASRS_getCompStock_getCompStock_WSD_Binder" contract="getCompStock.getCompStock_WSD_PortType" name="USI_ASRS_getCompStock_getCompStock_WSD_Port"/>
      <endpoint address="http://127.0.0.1:8734/WCFService_WMS/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWMS_WCFService1" contract="T1F1M1_SendMessage.IWMS_WCFService" name="BasicHttpBinding_IWMS_WCFService1"/>
      <endpoint address="http://192.168.100.36:6383/ws/r/aws_ttsrv2" binding="basicHttpBinding" bindingConfiguration="TIPTOPServiceGateWayBinding" contract="ServiceReference1.TIPTOPServiceGateWayPortType" name="TIPTOPServiceGateWayPortType"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
